#!/usr/bin/env bash

PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin:~/bin

export PATH

# Current folder

cur_dir=`pwd`

# Color

red='\033[0;31m'

green='\033[0;32m'

yellow='\033[0;33m'

plain='\033[0m'

software=(Docker Docker_Caddy Docker_Caddy_cloudflare)

operation=(install update_config update_image logs)

# Make sure only root can run our script

[[ $EUID -ne 0 ]] && echo -e "[${red}Error${plain}] This script must be run as root!" && exit 1

#Check system

check_sys(){

    local checkType=$1

    local value=$2

    local release=''

    local systemPackage=''

    if [[ -f /etc/redhat-release ]]; then

        release="centos"

        systemPackage="yum"

    elif grep -Eqi "debian|raspbian" /etc/issue; then

        release="debian"

        systemPackage="apt"

    elif grep -Eqi "ubuntu" /etc/issue; then

        release="ubuntu"

        systemPackage="apt"

    elif grep -Eqi "centos|red hat|redhat" /etc/issue; then

        release="centos"

        systemPackage="yum"

    eli
